datasets
.vscode
.pytest_cache
__pycache__
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite
*.log
*.csv
*.tsv
*.json
*.xml
*.yaml
*.yml
*.pickle
*.h5
*.hdf5
*.pth
*.pt
*.ckpt
*.weights
*.model
*.onnx
*.pb
*.tflite
*.zip
*.tar
*.gz
*.rar
*.7z
*.tar.gz
*.tar.bz2
*.tar.xz
*.egg
*.whl
*.dmg
*.exe
*.dll
*.so
*.dylib
tile_raster
GFF
experiments
*.png
*.xlsx